/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Oxanium", cursive;
  font-weight: 500;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

body[data-page=pokemons] section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body[data-page=pokemons] section #go_back {
  position: absolute;
  left: 150px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

body[data-page=pokemons] section #go_back a {
  padding-bottom: 45px;
}

body[data-page=pokemons] section #go_back img {
  width: 30px;
  transform: rotate(180deg);
  margin-top: -35px;
  z-index: -1;
}

body[data-page=pokemons] section h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

body[data-page=pokemons] section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body[data-page=pokemons] section form p {
  font-size: 25px;
  margin-bottom: 20px;
}

body[data-page=pokemons] section form input {
  border: none;
  font-family: "Oxanium", cursive;
}

body[data-page=pokemons] section form input[type=search] {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 200px;
  padding: 20px 20px;
  outline: none;
  height: 25px;
  font-size: 20px;
}

body[data-page=pokemons] section form input[type=submit] {
  margin: 25px 0;
  width: 125px;
  border: 1px solid black;
  font-family: "Oxanium", cursive;
  background-color: white;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

body[data-page=pokemons] section #pokemon_list {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto 0 auto;
}

body[data-page=pokemons] section #pokemon_list > a {
  margin-right: 100px;
}

body[data-page=pokemons] section #pokemon_list > a:nth-child(3n+3) {
  margin-right: 0px;
}

body[data-page=pokemons] section #pokemon_list > a .pokemon_content {
  width: 150px;
  height: 150px;
  border: 1.5px solid black;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body[data-page=pokemons] section #pokemon_list > a .pokemon_content img {
  width: 80%;
}

body[data-page=pokemons] section #pokemon_list > a .pokemon_content p {
  text-align: center;
  font-size: 18px;
}

body[data-page=pokemons] section #buttons {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

body[data-page=pokemons] section #buttons .button {
  cursor: pointer;
  padding: 20px 50px;
  border: 1.5px solid black;
  border-radius: 30px;
}

body[data-page=pokemon] {
  overflow: hidden;
}

body[data-page=pokemon] section #pokemon_id {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(10px) translateY(-30px);
  z-index: -1;
}

body[data-page=pokemon] section #pokemon_id p {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 800;
  font-size: 300px;
}

body[data-page=pokemon] section #pokemon_id p:nth-of-type(1) {
  -webkit-text-stroke: 2px #E80D0C;
  z-index: 10;
  color: white;
  transform: translateX(5px) translateY(5px);
}

body[data-page=pokemon] section #pokemon_id p:nth-of-type(2) {
  color: #E80D0C;
  z-index: 5;
}

body[data-page=pokemon] section #container {
  margin: 0 150px;
  padding-top: 170px;
}

body[data-page=pokemon] section #container p {
  font-size: 20px;
  margin-bottom: 5px;
}

body[data-page=pokemon] section #container p:last-of-type {
  margin-bottom: 0;
}

body[data-page=pokemon] section #container #desc_head {
  display: flex;
}

body[data-page=pokemon] section #container #desc_head > img {
  width: 200px;
  height: 200px;
}

body[data-page=pokemon] section #container #desc_head #desc_head_content {
  margin-top: 20px;
  margin-left: 80px;
  font-size: 25px;
}

body[data-page=pokemon] section #container #desc_head #desc_head_content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}

body[data-page=pokemon] section #container #desc_head #desc_head_content p {
  font-size: 25px;
}

body[data-page=pokemon] section #container #content {
  display: flex;
  margin-left: 280px;
  justify-content: space-between;
  margin-top: 80px;
}

body[data-page=pokemon] section #container #content h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
}

body[data-page=pokemon] section #go_back {
  position: absolute;
  left: 150px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body[data-page=pokemon] section #go_back a {
  padding-bottom: 45px;
}

body[data-page=pokemon] section #go_back img {
  width: 30px;
  transform: rotate(180deg);
  margin-top: -35px;
  z-index: -1;
}

body[data-page=items] section {
  padding: 100px 0;
}

body[data-page=items] section #item_list {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

body[data-page=items] section #item_list .item_content {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body[data-page=items] section #item_list .item_content img {
  width: 80%;
}

body[data-page=items] section #item_list .item_content p {
  text-align: center;
  font-size: 18px;
}

body[data-page=items] section #buttons {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

body[data-page=items] section #buttons .button {
  cursor: pointer;
  padding: 20px 50px;
  border: 1.5px solid black;
  border-radius: 30px;
}

body[data-page=create_pokemon] section {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

body[data-page=create_pokemon] section#create_custom_pokemon h1 {
  font-size: 25px;
  margin-bottom: 30px;
}

body[data-page=create_pokemon] section#create_custom_pokemon form {
  margin-left: 50px;
}

body[data-page=create_pokemon] section#create_custom_pokemon form div {
  margin-bottom: 20px;
}

body[data-page=create_pokemon] section#create_custom_pokemon form div input {
  border: none;
  font-family: "Oxanium", cursive;
}

body[data-page=create_pokemon] section#create_custom_pokemon form div input[type=text] {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100px;
  margin-right: 50px;
  padding: 10px 20px;
  outline: none;
  height: 25px;
}

body[data-page=create_pokemon] section#create_custom_pokemon form input[type=submit] {
  width: 125px;
  border: 1px solid black;
  font-family: "Oxanium", cursive;
  background-color: white;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-75%);
  cursor: pointer;
}

body[data-page=create_pokemon] section#custom_pokemons_container {
  padding-bottom: 100px;
  margin-bottom: 100px;
}

body[data-page=create_pokemon] section#custom_pokemons_container h2 {
  font-size: 25px;
}

body[data-page=create_pokemon] section#custom_pokemons_container > div {
  display: flex;
  margin-left: 50px;
  align-items: center;
  border-top: 1px solid black;
}

body[data-page=create_pokemon] section#custom_pokemons_container > div:first-of-type {
  border: none;
}

body[data-page=create_pokemon] section#custom_pokemons_container > div > p {
  width: 10%;
  padding: 20px 0;
  padding-left: 10px;
}

body[data-page=create_pokemon] section#custom_pokemons_container > div > img {
  width: 10%;
  padding-left: 10px;
}

body[data-page=create_pokemon] section#custom_pokemons_container #the_pokemon_header {
  margin-top: 50px;
}

body[data-page=create_pokemon] section#custom_pokemons_container #go_back {
  position: absolute;
  left: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

body[data-page=create_pokemon] section#custom_pokemons_container #go_back a {
  padding-bottom: 45px;
}

body[data-page=create_pokemon] section#custom_pokemons_container #go_back img {
  width: 30px;
  transform: rotate(180deg);
  margin-top: -35px;
  z-index: -1;
}

