body[data-page="pokemons"] {
	section {
		padding: 100px 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		#go_back {
			position: absolute;
			left: 150px;
			top: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			border: none;

			a {
				padding-bottom: 45px;
			}

			img {
				width: 30px;
				transform: rotate(180deg);
				margin-top: -35px;
				z-index: -1;
			}
		}

		h1 {
			font-size: 40px;
			margin-bottom: 50px;
		}

		#pokemon_list {
			width: 900px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 50px auto 0 auto;

			>a {
				margin-right: 100px;

				&:nth-child(3n+3) {
					margin-right: 0px;
				}

				.pokemon_content {
					width: 150px;
					height: 150px;
					border: 1.5px solid black;
					margin-bottom: 40px;
					cursor: pointer;
					border-radius: 30px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					

					img {
						width: 80%;
					}

					p {
						text-align: center;
						font-size: 18px;
					}
				}
			}
		}

		#buttons {
			width: 300px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			.button {
				cursor: pointer;
				padding: 20px 50px;
				border: 1.5px solid black;
				border-radius: 30px;
			}
		}
	}
}